html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "Noto Sans JP", "yu-gothich", sans-serif;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

header {
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
}

@media screen and (max-width: 414px) {
  header {
    height: 100vh;
  }
}

h1 {
  font-size: 7.2rem;
}

main {
  margin: 160px auto;
  width: 960px;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0 24px;
    width: 100%;
  }
}

section:not(:last-child) {
  margin-bottom: 120px;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 16px;
}

h2 span {
  display: block;
}

h2 span:first-child {
  font-size: 1.6rem;
}

h2 span:last-child {
  font-size: 4.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 2.4rem;
    line-height: 2.4;
  }
}
